$title-font: 2rem 'Times New Roman', sans-serif;
$heading-font: 0.9rem 'Georgia', sans-serif;
$background-color: #b3b0ae;
$Lorem-font: 13px 'Arial', serif;
$margin: 5px auto;
$width: 75%;
$align: center;
$pseudo: 70px 'Times New Roman', serif;

              

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: whitesmoke;
}


.newspaper__title{
    margin: $margin;
    width: $width;
    background-color: $background-color;
    height: 120px;
    display: grid;

    &--black{
        font: $title-font;
        font-weight: bold;
        height: 1.5rem;
        text-align: $align;
        justify-self: $align;
        align-items: $align;
    }
    
}

.newspaper__grid{
    margin: $margin;
    width: $width;
    height: 700px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-column-gap: 5px;
    
    

    &--image{
        align-self: $align;
        justify-self: $align;
    }

     &--heading{
         font: $heading-font;
         padding: 15px;
         height: 1rem;
         text-align: center;
         align-items: $align;
         justify-self: $align;
        }
    p::before{
        content:"L";
        font-weight: bold;
        font: $pseudo;

    }
     &--column{
         background-color: $background-color;
         display: grid;
         grid-template-rows: 10% 50% auto;
     }
     &--description{
         font: $Lorem-font;
         align-self: $align;
         justify-content: $align;
         padding: 0px 10px;
     }
    
}

