*{
    margin: 0;
    padding: 0;
}
body{
   width: 100%;
}
.padding{
    padding: 50px;   
}
table{
    border: 2px solid black;
}
tr{
    width: 50%; 
}
td{
    
    width: 50%;
    }
.red{
    background-color: red;
    height: 62.5px;
}
.blue{
    background-color: blue;
}
.white{
    background-color: white;
    height: 62.5px;
}
